.liked {
  text-align: right;
  z-index: 10;

  &__heart {
    cursor: pointer;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;

    img {
      width: 50px;
    }

    &:hover+.liked__items-wrapper {
      display: block;
    }
  }

  &__counter {
    color: white;
  }

  &__items-wrapper {
    display: none;
    position: absolute;
    top: 49px;
    right: 0;
    width: 400px;
    background: #3d6647;
    min-height: 50px;

    &:hover {
      display: block;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background: #96f7b2;
    margin: 2px 0;
    padding: 10px;
    transition: 0.5s;
    opacity: 0.9;

    &:hover {
      transform: scale(0.98);
      opacity: 1;
    }

    img {
      width: 50px;
    }
  }

  &__name {
    margin-left: 21px;
    cursor: pointer;

  }

  &__remove {
    border: none;
    height: 28px;
    border-radius: 7px;
    background-color: #5c996b;
    color: white;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(0.9);
    }
  }

  &__empty {
    color: white;
    margin-right: 120px;
  }
}