.search {
  display: flex;
  align-items: center;
  justify-content: center;

  &__form {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__input {
    border: none;
    width: 200px;
    background: transparent;
    border-bottom: solid white;
    color: white;
    font-size: 16px;
    transition: box-shadow .3s ease-out;
    cursor: pointer;
    padding: 4px;
    opacity: 0.65;
    transition: 0.2s all;
    height: 38px;

    &--middle {
      width: 300px;
    }

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
      box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.5);

      transform: scale(1.1);
      transition: 0.2s;
    }

    &::placeholder {
      color: white;
    }

    &:focus::placeholder {
      color: transparent;
    }

    &:focus+.search__icon {
      transform: scale(1.1) rotate(-90deg);
    }

    &:focus~label {
      transform: translateY(-24px);
      transition: 0.3s;
    }

    &:valid~label {
      transform: translateY(-24px);
      transition: 0.3s;
    }
  }

  label {
    position: absolute;
    transition: 0.3s;
    transform: translateY(0px);
  }

  &__icon {
    margin-left: -20px;
    width: 19px;
    transform: rotate(-90deg);
    transition: 0.2s;
  }
}