.result {
  margin: 10px auto;
  background: white;
  max-width: 300px;

  &__img-wrapper {
    position: relative;

    img {
      min-height: 100%;
    }
  }

  &__heart {
    position: absolute;
    top: 0;
    right: 10px;
    width: 30px;
    background: white;
    padding: 10px 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.85;

    img {
      width: 100%;
    }
  }

  &__info {
    padding: 10px;
  }

  &__title {
    margin-bottom: 5px;
    font-size: 20px;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: flex-end;

    button {
      padding: 10px 50px;
      font-size: 14px;
      margin: 10px;
      border-radius: 10px;
      border: none;
      background: black;
      color: white;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }
}